page-home {

}

.iconkecil{
  font-size:15px !important;
}

.tabkecil{
  font-family: OpenSansBold;
  letter-spacing:2px;
  font-size:11px;
}

.header0{
  text-align:center;
}

.header1{
  font-family: OpenSansRegular;
  font-size:25px;
}

.header2{
  font-size:12px;
  letter-spacing: 1px;
  color:rgba(255,255,255,0.7);

}

.scroll-content{
  border-top: 0 !important;
}
