page-add {

}

.addsearch{
  color: #282828 !important;
  padding:10px;
  padding-left:30px;
  padding-right:30px;
  width:calc(100% - 80px);
  margin-left:40px;
  margin-right:40px;
  margin:20px;
  border-radius: 100px;
  border: 0;
  background: #fff url(../assets/icon/ic_search.png) no-repeat right 15px center !important;
  background-size: 20px 20px !important;
  padding-left:30px;
  font-size:12px;
}

.addlist{
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2) !important;
}
