page-payment {

}

.headerpayment{
  text-align: center !important;
}

.searchbar-input{
  background:rgba(0,0,0,0) !important;
  box-shadow: none !important;
  font-size:14px !important;
  color: #282828 !important;
  padding:3px 45px 3px 45px !important;
}
.searchbar-search-icon{
  background: url(../assets/icon/ic_search.png) no-repeat  !important;
  background-size: 18px 18px !important;
  background-position: center;
  top:10px !important;
  left:15px !important;
}
.paysearch{
  padding:0px;
  padding-left:30px;
  padding-right:30px;
  width:calc(100% - 40px);
  margin-left:20px;
  margin-right:20px;
  margin-top:20px;
  margin-bottom:20px;
  border-radius: 100px;
  border: 0;
  background: #fff;
  padding-left:30px;
}
