page-payment {

}

.headerpayment{
  text-align: center !important;
}

.paysearch{
  padding:10px;
  padding-left:30px;
  padding-right:30px;
  width:calc(100% - 80px);
  margin-left:40px;
  margin-right:40px;
  margin:20px;
  border-radius: 100px;
  border: 0;
  background: #fff ;
  padding-left:30px;
  font-size:12px;
  color: #282828 !important;
}
