page-notifications {

}

.notifitem{
  height:100%;
  text-align:center;
  background:none;
}
.notifitem .item-inner{
  border:0 !important;
}

.notifnoicon{
  width:30%;
  margin-left:35%;
  margin-right:35%;
}

.notifbtn{
  background: #ea0000 !important;
  color:#fff;
}
